---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/swdonovan/followers?client_id=bb879a665517703b1466&client_secret=391cc1fed3efd13069a815a16ec7818b1ba7f6fe
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4920'
      X-Ratelimit-Reset:
      - '1503587809'
      Etag:
      - W/"313779ad7f534e69788acad07eef88c1"
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"thedanielvogelsang","id":24497322,"avatar_url":"https://avatars3.githubusercontent.com/u/24497322?v=4","gravatar_id":"","url":"https://api.github.com/users/thedanielvogelsang","html_url":"https://github.com/thedanielvogelsang","followers_url":"https://api.github.com/users/thedanielvogelsang/followers","following_url":"https://api.github.com/users/thedanielvogelsang/following{/other_user}","gists_url":"https://api.github.com/users/thedanielvogelsang/gists{/gist_id}","starred_url":"https://api.github.com/users/thedanielvogelsang/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/thedanielvogelsang/subscriptions","organizations_url":"https://api.github.com/users/thedanielvogelsang/orgs","repos_url":"https://api.github.com/users/thedanielvogelsang/repos","events_url":"https://api.github.com/users/thedanielvogelsang/events{/privacy}","received_events_url":"https://api.github.com/users/thedanielvogelsang/received_events","type":"User","site_admin":false},{"login":"katiekeel","id":11282627,"avatar_url":"https://avatars2.githubusercontent.com/u/11282627?v=4","gravatar_id":"","url":"https://api.github.com/users/katiekeel","html_url":"https://github.com/katiekeel","followers_url":"https://api.github.com/users/katiekeel/followers","following_url":"https://api.github.com/users/katiekeel/following{/other_user}","gists_url":"https://api.github.com/users/katiekeel/gists{/gist_id}","starred_url":"https://api.github.com/users/katiekeel/starred{/owne[...]
