---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/swdonovan/repos?client_id=bb879a665517703b1466&client_secret=391cc1fed3efd13069a815a16ec7818b1ba7f6fe
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4919'
      X-Ratelimit-Reset:
      - '1503587809'
      Etag:
      - W/"014afd9aaf84c69b1ac2b442a09234da"
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"id":91828134,"name":"backend-curriculum-site","full_name":"swdonovan/backend-curriculum-site","owner":{"login":"swdonovan","id":25035051,"avatar_url":"https://avatars3.githubusercontent.com/u/25035051?v=4","gravatar_id":"","url":"https://api.github.com/users/swdonovan","html_url":"https://github.com/swdonovan","followers_url":"https://api.github.com/users/swdonovan/followers","following_url":"https://api.github.com/users/swdonovan/following{/other_user}","gists_url":"https://api.github.com/users/swdonovan/gists{/gist_id}","starred_url":"https://api.github.com/users/swdonovan/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/swdonovan/subscriptions","organizations_url":"https://api.github.com/users/swdonovan/orgs","repos_url":"https://api.github.com/users/swdonovan/repos","events_url":"https://api.github.com/users/swdonovan/events{/privacy}","received_events_url":"https://api.github.com/users/swdonovan/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/swdonovan/backend-curriculum-site","description":"A
        site for all curriculum and day to day for the backend program at Turing School
        of Software and Design","fork":true,"url":"https://api.github.com/repos/swdonovan/backend-curriculum-site","forks_url":"https://api.github.com/repos/swdonovan/backend-curriculum-site/forks","keys_url":"https://api.github.com/repos/swdonovan/backend-curriculum-site/keys{/key_id}","collaborators_url":"https://api.github.com/repos/swdonovan/backend-curriculum-site/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/swdonovan/backend-curriculum-site/teams","hooks_url":"https://api.github.com/repos/swdonovan/backend-curriculum-site/hooks","issue_events_url":"https://api.github.com/repos/swdonovan/backend-curriculum-site/issues/events{/number}","events_url":"https://api.github.com/repos/swdonovan/backend-curriculum-site/events","assignees_url":"https://api.github.com/repos/swdonovan/backend-curriculum-site/assignees{/user}","branches_url":"https://api.github.com/repos/swdonovan/backend-curriculum-site/branches{/branch}","tags_url":"https://api.github.com/repos/swdonovan/backend-curriculum-site/tags","blobs_url":"https://api.github.com/repos/swdonovan/backend-curriculum-site/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/swdonovan/backend-curriculum-site/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/swdonovan/backend-curriculum-site/git/refs{/sha}","trees_url":"https://api.github.com/repos/swdonovan/backend-curriculum-site/git/trees{/sha}","statuses_url":"https://api.github.com/repos/swdonovan/backend-curriculum-site/statuses/{sha}","languages_url":"https://api.github.com/repos/swdonovan/backend-curriculum-site/languages","stargazers_url":"https://api.github.com/repos/swdonovan/backend-curriculum-site/stargazers","contributors_url":"https://api.github.com/repos/swdonovan/backend-curriculum-site/contributors","subscribers_url":"https://api.github.com/repos/swdonovan/backend-curriculum-site/subscribers","subscription_url":"https://api.github.com/repos/swdonovan/backend-curriculum-site/subscription","commits_url":"https://api.github.com/repos/swdonovan/backend-curriculum-site/commits{/sha}","git_commits_url":"https://api.github.com/repos/swdonovan/backend-curriculum-site/git/commits{/sha}","comments_url":"https://api.github.com/repos/swdonovan/backend-curriculum-site/comments{/number}","issue_comment_url":"https://api.github.com/repos/swdonovan/backend-curriculum-site/issues/comments{/number}","contents_url":"https://api.github.com/repos/swdonovan/backend-curriculum-site/contents/{+path}","compare_url":"https://api.github.com/repos/swdonovan/backend-curriculum-site/compare/{base}...{head}","merges_url":"https://api.github.com/repos/swdonovan/backend-curriculum-site/merges","archive_url":"https://api.github.com/repos/swdonovan/backend-curriculum-site/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/swdonovan/backend-curriculum-site/downloads","issues_url":"https://api.github.com/repos/swdonovan/backend-curriculum-site/issues{/number}","pulls_url":"https://api.github.com/repos/swdonovan/backend-curriculum-site/pulls{/number}","milestones_url":"https://api.github.com/repos/swdonovan/backend-curriculum-site/milestones{/number}","notifications_url":"https://api.github.com/repos/swdonovan/backend-curriculum-site/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/swdonovan/backend-curriculum-site/labels{/name}","releases_url":"https://api.github.com/repos/swdonovan/backend-curriculum-site/releases{/id}","deployments_url":"https://api.github.com/repos/swdonovan/backend-curriculum-site/deployments","created_at":"2017-05-19T17:07:07Z","updated_at":"2017-05-19T17:07:11Z","pushed_at":"2017-05-19T12:44:53Z","git_url":"git://github.com/swdonovan/backend-curriculum-site.git","ssh_url":"git@github.com:swdonovan/backend-curriculum-site.git","clone_url":"https://github.com/swdonovan/backend-curriculum-site.git","svn_url":"https://github.com/swdonovan/backend-curriculum-site","homepage":null,"size":60436,"stargazers_count":0,"watchers_count":0,"language":"HTML","has_issues":false,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":0,"default_branch":"gh-pages"},{"id":91842791,"name":"Battleship","full_name":"swdonovan/Battleship","owner":{"login":"swdonovan","id":25035051,"avatar_url":"https://avatars3.githubusercontent.com/u/25035051?v=4","gravatar_id":"","url":"https://api.github.com/users/swdonovan","html_url":"https://github.com/swdonovan","followers_url":"https://api.github.com/users/swdonovan/followers","following_url":"https://api.github.com/users/swdonovan/following{/other_user}","gists_url":"https://api.github.com/users/swdonovan/g[...]
