---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/swdonovan/events?client_id=bb879a665517703b1466&client_secret=391cc1fed3efd13069a815a16ec7818b1ba7f6fe
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4918'
      X-Ratelimit-Reset:
      - '1503587809'
      Etag:
      - W/"1348f2ef9b4bee22acd5e30a98151f64"
      Last-Modified:
      - Thu, 24 Aug 2017 11:11:49 GMT
      X-Poll-Interval:
      - '60'
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/25035051/events?client_id=bb879a665517703b1466&client_secret=391cc1fed3efd13069a815a16ec7818b1ba7f6fe&page=2>;
        rel="next", <https://api.github.com/user/25035051/events?client_id=bb879a665517703b1466&client_secret=391cc1fed3efd13069a815a16ec7818b1ba7f6fe&page=10>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"6506954160","type":"PushEvent","actor":{"id":25035051,"login":"swdonovan","display_login":"swdonovan","gravatar_id":"","url":"https://api.github.com/users/swdonovan","avatar_url":"https://avatars.githubusercontent.com/u/25035051?"},"repo":{"id":101283684,"name":"swdonovan/ghub_mini_bro","url":"https://api.github.com/repos/swdonovan/ghub_mini_bro"},"payload":{"push_id":1941614951,"size":1,"distinct_size":1,"ref":"refs/heads/master","head":"f20137e9711f1b7ef9857b9085f9b0b8b2574242","before":"b15a1b8171a6a1795cd5b53906b9fc63b3e4b62f","commits":[{"sha":"f20137e9711f1b7ef9857b9085f9b0b8b2574242","author":{"email":"wil.donovan@gmail.com","name":"Wil
        Donovan"},"message":"current user name added to app controller, style sheets
        readded and then cleaned up the git hub repo disaster","distinct":true,"url":"https://api.github.com/repos/swdonovan/ghub_mini_bro/commits/f20137e9711f1b7ef9857b9085f9b0b8b2574242"}]},"public":true,"created_at":"2017-08-24T11:11:49Z"},{"id":"6506851381","type":"CreateEvent","actor":{"id":25035051,"login":"swdonovan","display_login":"swdonovan","gravatar_id":"","url":"https://api.github.com/users/swdonovan","avatar_url":"https://avatars.githubusercontent.com/u/25035051?"},"repo":{"id":101283684,"name":"swdonovan/ghub_mini_bro","url":"https://api.github.com/repos/swdonovan/ghub_mini_bro"},"payload":{"ref":"master","ref_type":"branch","master_branch":"master","description":null,"pusher_type":"user"},"public":true,"created_at":"2017-08-24T10:42:44Z"},{"id":"6506822432","type":"CreateEvent","actor":{"id":25035051,"login":"swdonovan","display_login":"swdonovan","gravatar_id":"","url":"https://api.github.com/users/swdonovan","avatar_url":"https://avatars.githubusercontent.com/u/25035051?"},"repo":{"id":101283684,"name":"swdonovan/ghub_mini_bro","url":"https://api.github.com/repos/swdonovan/ghub_mini_bro"},"payload":{"ref":null,"ref_type":"repository","master_branch":"master","descriptio[...]
